@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* http://192.168.234.33:3000 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallaryBoxStyling{
  border: 1px solid black; 
  width: 35em;
}
.gallaryBoxStyling h1{
  text-align: center;
}
.mainGallaryStyle{
  border: 1px solid gold; 
  margin: 0 auto;
}
.bottomGalaryStyle{
  border: 1px dashed black; 
  border-radius: 8px;
  padding: 3px;
  width: 5em;
  height: 4em; 
}
.bottomGalaryStyle img{
  border-radius: 8px;
}
.butStyle button:hover{
  opacity: 0;
}

.galStyle{
  border: 1px solid black;
   text-align: center;
   width: 35em;
}

.butStyle{
  border: 0;
  background: transparent;
  
}

.displaySec{
  border: 1px solid black;
}
.displaySec img{
  
  height: 18em; 
}